<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="homepage.component.css">
     <title>CareAssist</title>
</head>

<body>
     <header>
          <nav class="navbar">
               <ul>
                <li>
                    <img class="img-responsive " src="../assets/logo1.png" routerLink="/" alt="CareAssist Logo">
                </li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li>
                         <div class="dropdown">
                              <span>Registration</span>
                              <div class="dropdown-menu">
                                   <a routerLink="/registerprovider">Healthcare Provider</a>
                                   <a routerLink="/registerpatient">Patient</a>
                                   <a routerLink="/registercompany">Insurance Company</a>
                              </div>
                         </div>
                    </li>
                    <li>
                         <div class="dropdown">
                              <span>Login</span>
                              <div class="dropdown-menu">
                                   <a routerLink="/login/provider">Healthcare Provider</a>
                                   <a routerLink="/login/company">Insurance Company</a>
                                   <a routerLink="/login/patient">Patient</a>
                                   <a routerLink="/login/admin">Admin</a>
                              </div>
                         </div>
                    </li>
                    
               </ul>
          </nav>
     </header>

     <main>
          <section class="hero">
               <img src="../../../assets/medicalback.jpg" alt="Medical Background" style="width:100%">
          </section>

          <section class="services bg-light" id="services">
               <div class="container">
                    <div class="row justify-content-md-center">
                         <div class="col-md-10">
                              <h3 class="text-center text-secondary text-uppercase">Our Services</h3>
                              <h4 class="display-5 text-center">
                                ClaimCare promises outstanding solutions and aims to deliver utmost happiness to everyone we serve.</h4>
                              <p class="text-center">At ClaimCare, we specialize in medical billing and claims management, catering to healthcare providers, insurance companies, and patients. Our services ensure a seamless experience, allowing healthcare providers to focus on patient care.</p>
                         </div>
                    </div>
               </div>
          </section>

          <section class="contact" id="contact">
               <div class="container">
                    <div class="row">
                         <div class="col-lg-6">
                              <h3>Our Address</h3>
                              <p>Kodathi,Benguluru</p>
                              <h3>Email</h3>
                              <p>info@claimcare.com</p>
                              <h3>Phone</h3>
                              <p>9876543210</p>
                         </div>
                    </div>
               </div>
          </section>
     </main>

     <footer class="text-center">
          <div class="container">
               <p>&copy; 2024 ClaimCare. All Rights Reserved.</p>
               <div class="social-icons">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
               </div>
          </div>
     </footer>
</body>

</html>
