<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Speciality</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of providers">
        <td>{{ provider.providerId }}</td>
        <td>{{ provider.providerName }}</td>
        <td>{{ provider.providerEmail }}</td>
        <td>{{ provider.providerSpeciality }}</td>
        <td>
          <button (click)="deleteProvider(provider.providerId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  